################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/OOP-Demo
/OOP-Demo/bin/Debug/netcoreapp2.1
/OOP-Demo/obj/Debug/netcoreapp2.1
/OOP-Demo/obj
/Arrays/obj
/Arrays/bin/Debug/netcoreapp2.1
/DictionaryDemo/bin/Debug/netcoreapp2.1
/DictionaryDemo/obj
/GenericList/bin/Debug/netcoreapp2.1
/GenericList/obj
/QueueCollection/bin/Debug/netcoreapp2.1
/QueueCollection/obj
/StackCollections/obj
/StackCollections/bin/Debug/netcoreapp2.1
