################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/OOP-Demo
/OOP-Demo/bin/Debug/netcoreapp2.1
/OOP-Demo/obj/Debug/netcoreapp2.1
/OOP-Demo/obj
/Arrays/obj
